{%extends "base.html"%}
{%load static%}
{% load countries %}
{% load bootstrap4 %}
{% load custom_tags %}
{%block body%}


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({%static 'images/bg_1.jpg'%});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Destinations</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="{% url 'destination:destinations'%}">Destinations <i class="ion-ios-arrow-forward"></i></a></span> </p>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-4">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Best Place Destination</h2>
          </div>
        </div>
        <div class="row">
		{% for top_country in top_countries %}
        	<div class="col-md-3 ftco-animate">
        		<div class="project-destination">
        			<a href="#" class="img" style="background-image: url({% static 'images/destination-9.JPG' %});">
        				<div class="text">
						{% get_countries as countries %}
							{% for country in countries %}						<!--loop in countries till u find our country code then give us its name-->
							{%if top_country.country == country.code %}

        					<h3>{{country.name}} </h3>
							
							{%endif%}
							{% endfor %}

        					<span>{{top_country.qcount}} Tours</span>
        				</div>
        			</a>
        		</div>
        	</div>
		{% endfor %}
        </div>
    	</div>
		
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
    	<div class="container">
	    	<div class="row">

					<div class="col-md-12 mb-5">
						<div class="search-wrap-1 search-wrap-notop ftco-animate p-4">
							<form action="" method= "GET" class="search-property-1">
		        		<div class="row">
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="id_description">Destination</label>
		          				<div class="form-field">
		          					<div class="icon"><span class="ion-ios-search"></span></div>
				                <input type="text" name="description"  class="form-control" placeholder="Search place"> <!-- add name="" for input to run the filter -->
				              </div>
			              </div>
		        			</div>

		        			<div class="col-lg align-items-end">
		        				<div class="form-group is-valid">
		        					<label for="id_check_in_date_0">Check-in-date from</label>
		        					<div class="form-group is-valid">
		          					<div class="icon"><span class="ion-ios-calendar"></span></div>
								  <input type="text" name="check_in_date_after"  class="form-control checkin_date" placeholder="Check in date from" title="" id="id_check_in_date_0"/> 
							  </div>
			              </div>											<!-- check in duration-->
		        			</div>
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="id_check_in_date_0">Check-in-date to</label>
		        					<div class="form-field">
		          					<div class="icon"><span class="ion-ios-calendar"></span></div>
				                <input type="text" name="check_in_date_before"  id="id_check_in_date_1" class="form-control checkin_date" placeholder="Check in Date to">
				              </div>
			              </div>
		        			</div>


							<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="id_price_0">Price Range</label>
		          				<div class="form-field">
		          					<div class="icon"><span class="ion-ios-search"></span></div>
				                <input type="text" name="price_min"  class="form-control" placeholder="Minimum Price" title="" id="id_price_0">
							
				                <input type="text" name="price_max"  class="form-control"  placeholder="Maximaum Price" title="" id="id_price_1">
				              </div>
			              </div>
		        			</div>
		        			<div class="col-lg align-self-end">
		        				<div class="form-group">
		        					<div class="form-field">
				                <input type="submit" value="Search" class="form-control btn btn-primary">
				              </div>
			              </div>
		        			</div>
		        		</div>
		        	</form>
		        </div>
					</div>
	    	</div>
	    </div>
    </section>

    <section class="ftco-section ftco-no-pt">
    	<div class="container">
    		<div class="row justify-content-center pb-4">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Tour Destination</h2>
          </div>
        </div>
        <div class="row">
			
				{%for destination in destinations %}
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="{% url 'destination:destination_details' destination.slug%}" class="img" style="background-image: url({{destination.image.url}});"></a><!-- note that i use .url to show an img from db-->
						<div class="text p-4">
							<span class="price">${{destination.price}}/person</span>
							<span class="days">{{destination.duration}} Days Tour</span>
							<h3><a href="{% url 'destination:destination_details' destination.slug%}">{{destination.title}}</a></h3>


							{% get_countries as countries %}
							{% for country in countries %}						<!--loop in countries till u find our country code then give us its name-->
							{%if destination.country == country.code %}
																										<!--its name-->
							<p class="location"><span class="ion-ios-map"></span> {{destination.city}}, {{ country.name }} <img src="{{destination.country.flag}}" > </p>
																																		<!--show the flag-->
																																		<!--check out settings, base.html, static files(flags),-->			
							{%endif%}
							{% endfor %}


							<ul>
								<li><span class="flaticon-shower"></span>{{destination.bathrooms}}</li>
								<li><span class="flaticon-king-size"></span>{{destination.rooms}}</li>

								{% if destination.distinct_with == "near_mountain" %}			<!--give me the icon according to the choice of "distinct_with" in db-->
								<li><span class="flaticon-mountains"></span>{{destination.distinct_with}}</li>

								{% elif destination.distinct_with == "near_beach" %}
								<li><span class="flaticon-sun-umbrella"></span>{{destination.distinct_with}}</li>
								
								{%endif%}
								
							</ul>
							
						</div>
					</div>
				</div>
			
			{% endfor %}	
			</div>		
		
        
		 {%if destinations.has_other_pages%}

		<div class="row mt-5 mx-auto">
          <div class="col text-center ">
            	<div class="block-27 ">
					<ul>
						{% if destinations.has_previous %}
			    		<li><a href="{% relative_url destinations.previous_page_number 'page' request.GET.urlencode %}">&lt;</a></li>
						{% endif %}

						
                		 {%for i in destinations.paginator.page_range%}
						 			<!--coustm tag to get the current url of the page to paginate filtered results-->	
						 <li><a href="{% relative_url i 'page' request.GET.urlencode %}"><span>{{i}}</span></a></li>
						 {%endfor%}
						

                		{%if destinations.has_next%}
                		<li><a href="{% relative_url destinations.next_page_number 'page' request.GET.urlencode %}">&gt;</a></li>
						{% endif %}
              		</ul>
          		</div>
            </div>
    	</div>
		{% endif %}
    </section>


{%endblock body%}