
{% extends 'base_profile.html'%}
{% load bootstrap4 %}

{%block body%}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Welcome in {{profile}}'s profile</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">

                <div class="col-lg-8" mx-auto>
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h4>profile Summery</h4>
                        </div>
                        <div class="job_content">
                            <ul>                  <!--information from models-->  
                                <li>name : <span>{{profile}}</span></li>
                                <li>Email: <span>{{profile.user.email}}</span></li>     <!--email is from  django created table users not from  my created profile table-->
                                <li>phone: <span>{{profile.phone_number}}</span></li>
                                <li>Address: <span>{{profile.city}}</span></li>
                            
                                {% ifequal profile.user request.user %} 
                                <a class="boxed-btn3 w-100"  href="{% url 'accounts:profile_edit' request.user %}">Edit profile</a>
                                {% endifequal %}
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

{%endblock body%}
